/* typography */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

p {
    font-size: 0.75rem;
}

.intro {
    font-size: 0.75rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0px;
}

h3 {
    font-size: 0.875rem;
    margin: 0px;
}